* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Franklin Gothic Medium, Monospace;
    text-align: center;
}

.title {
    margin-top: 50px;
    font-size: 40px;
}

#count {
    margin-top: 10px;
    font-size: 60px;
}

.btn {
    display: inline-block;
    margin: 7px;
    font-size: 20px;
    outline: none;
    border: none;
}

button {
    padding: 2px;
}

button:hover {
    background-color: rgb(63, 63, 63);
    color: white;
    cursor: pointer;
    transition: all .3s linear;
    outline: none;
    border: none;
}
