* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Franklin Gothic Medium, Monospace;
    text-align: center;
}

.title {
    margin-top: 50px;
    font-size: 40px;
}

#count {
    margin-top: 10px;
    font-size: 60px;
}

.btn {
    display: inline-block;
    margin: 5px;
}

.dri button {
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

button:hover {
    background-color: rgb(63, 63, 63);
    color: white;
    cursor: pointer;
    transition: all .3s linear;
    outline: none;
    border: none;
}

.save-clear {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#save-btn,
#clear-prev-count {
    width: 290px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

#save-btn:hover {
    background: rgba(0, 0, 0, 0.05);
    color: black;
    border: .5px solid black;
}

p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
